@import url(Imports/main.css);


.first-headline {
  margin-left: 2rem;
}

.subnautica {
    width: cov;
}

.games {
  display: flex;
  flex-direction: column;
}

.checkboxes {
  padding-right: 5rem;
}

.checkboxes-system {
  margin-bottom: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;

}

.checkbox-label {
  padding-left: 0.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

.filter {
  padding-bottom: 3rem;
}

.filter-btn {
  background-color: rgb(27, 247, 255);
}


.filter-btn:hover {
  background-color: rgb(21, 224, 231);
}


.game-buy-button {
  text-transform: uppercase;;
}


