@import url(Imports/main.css);


.first-headline {
  margin-left: 2rem;
}

.subnautica {
    width: cov;
}

.container-games {
  display: flex;
  flex-direction: column;
}

.games {
  display: flex;
  flex-direction: column;
}







.checkboxes {
  padding-right: 5rem;
}

.checkboxes-system {
  margin-bottom: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;

}

.checkbox-label {
  padding-left: 0.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

.filter-btn {
  background-color: rgb(93, 93, 93);
}


.filter-btn:hover {
  background-color: rgb(218, 239, 239);
}

.filter-btn:active {
  background-color: rgb(218, 239, 239);
}

.game-buy-button {
  text-transform: uppercase;;
}

.container-games  {
  display: flex;
}

